.table-custom {
    overflow: scroll;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.table-custom tr:nth-child(1) {
    background-color: black;
    color:white;
}

.table-year-race tr:nth-child(n+2):hover td {
	background-color: darkgrey;
	color: black;
}

.table-podium tr:nth-child(2) {
    background-color:yellow; 
    color:black
}

.table-podium tr:nth-child(3) {
    background-color:grey; 
}

.table-podium tr:nth-child(4) {
    background-color:brown; 
}