.col-equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.col-link {
    float: right;
    color: grey;
    display: block;
    margin-top: 20px; 
    margin-bottom: 10px; 
    height: calc(100% - 30px);
}

.col-link + .dropdown-menu {
    right: 0;
    left: auto;
}

.col-link:hover {
    color: black;
    text-decoration: none;
}

.table-custom {
    overflow: scroll;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.table-custom tr:nth-child(1) {
    background-color: black;
    color:white;
}

.table-year-race tr:nth-child(n+2):hover td {
	background-color: darkgrey;
	color: black;
}

.table-podium tr:nth-child(2) {
    background-color:yellow; 
    color:black
}

.table-podium tr:nth-child(3) {
    background-color:grey; 
}

.table-podium tr:nth-child(4) {
    background-color:brown; 
}