<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    <!-- jQuery -->
    <link rel="stylesheet" href="{% static 'f1app/css/general.css' %}">
    {% block style %}{% endblock style %}
    <title>F1app</title>
</head>
<body>
    {% load tags %}
    <nav class="navbar navbar-inverse navbar-custom">  
        <div class="container-fluid">  
            <div class="navbar-header">  
                <a class="navbar-brand text-body" href="#">WebSiteName</a>  
            </div>  
            <ul class="nav navbar-nav navbar-right">  
            <li class="dropdown"><a class="dropdown-toggle text-body" data-toggle="dropdown" href="#">Seasons</a>  
                <ul class="dropdown-menu"> 
                {% last_years as items %}
                {% for item in items %}
                <li><a href="/f1app/race/{{ item }}/">{{ item }}</a></li>  
                {% endfor %}
                </ul>  
            </li>  
            <li class="dropdown"><a class="dropdown-toggle text-body" data-toggle="dropdown" href="#">Drivers</a>
                <ul class="dropdown-menu"> 
                {% current_drivers as items %}
                {% for item in items %}
                    <li><a href='/f1app/driver/{{ item.driver.id }}/'>{{ item.driver.id|pretty_name }}</a></li>  
                {% endfor %}
                </ul>  
            </li>  
            <li class="dropdown"><a class="dropdown-toggle text-body" data-toggle="dropdown" href="#">Constructors</a>
                <ul class="dropdown-menu"> 
                {% current_constructors as items %}
                {% for item in items %}
                    <li><a href='/f1app/constructor/{{ item.constructor.id }}/'>{{ item.constructor.id|pretty_name }}</a></li>  
                {% endfor %}
                </ul>  
            </li>  
            </ul>  
        </div>  
    </nav>  
    <div id="content">
        {% block content %}{% endblock content %}
        {% if user.is_authenticated %}
            <p>You are logged in as {{ request.user }}. Click here to <a href="{% url 'logout' %}">log out</a></p>
        {% endif %}
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
{% block scripts %}{% endblock scripts %}
</body>
</html>