{% extends 'base.html' %}

{% block style %}
    {% load static %}

    <link href="{% static 'f1app/css/driver.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% load tags %}
    <div class="custom_container">
        <div class="main">
            <h3>{{ object|get_item:"name" }}</h3>
            <dl>
                {% for key, value in object.items %}
                    {% if key != 'id' and key|is_meta_field is False %}
                        <hr>
                        {% if key in list_of_extendables %}
                            <div>
                                <div onclick="collapsePanel('{{ object|get_item:"id" }}', $(this))">
                                    <dt>{{ key|pretty_name }}</dt>
                                    <dd>{{ value }}</dd>
                                </div>
                                <div id="{{key}}" class="panel-collapse collapse"></div>
                            </div>
                        {% elif value|is_ordered_dict %}
                            <dt>{{ key|pretty_name }}</dt>
                            <dd>{{ value|get_item:"std_name" }}</dd>
                        {% else %}
                            <dt>{{ key|pretty_name }}</dt>
                            <dd>{{ value }}</dd>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </dl>
        </div>
        <div class="sidebar">
            <div class="general-image-container">
                <img class="general-image" src="{{ object|get_item:"id"|upper_underscore|get_photo }}">
            </div>
            <h3>History of teams:</h3>
            <ul class="list-style=none;">
            {% for period in team_history %}
                <li>{{ period|get_item:"year" }}, {{ period|get_item:"rounds_text" }}, {{ period|get_item:"constructor"|get_item:"std_name" }}</li>
                <canvas class="canvas {{ period|get_item:"id" }}" style="border:1px solid #c3c3c3;"></canvas>
            {% endfor %}
            </ul>
            {% if family_relations|length > 0 %}
                <h3>Family:</h3>
            {% endif %}
            <ul class="list-style=none;">
            {% for relation in family_relations %}
                <li>{{ relation|get_item:"type" }} of {{ relation|get_item:"driver"|pretty_name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div id="entity_name" style="display:none"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'f1app/js/diagrams.js' %}"></script>
    <script src="{% static 'f1app/js/loadtables.js' %}"></script>
    <script src="{% static 'f1app/js/redirects.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module">
        document.getElementById("entity_name").innerHTML = 'driver'
        plot_diagrams({{ results_visual|safe }})
    </script>
{% endblock %}