{% load static %}
{% load tags %}

<div style="overflow: scroll;"> 
    <table class="table table-dark table-custom {{additional_class}}">
    {% if object_list|length > 0 %} 
        <tr>
            {% for x in object_list|column_names %}
                {% if x|is_meta_field is False %}
                    <td>{{ x|pretty_name }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
    {% for x in object_list %}
    <tr>
        {% for key, value in x.items %}
            {% if key|is_meta_field %}
            {% elif value|get_item:"object_type" == "Driver" %}
                <td style="cursor: pointer;" onclick="moveToDriver('{{ value|get_item:"id" }}')">{{ value|get_item:"std_name" }}</td>
            {% elif value|get_item:"object_type" == "Constructor" %}
                <td style="cursor: pointer;" onclick="moveToConstructor('{{ value|get_item:"id" }}')">{{ value|get_item:"std_name" }}</td>
            {% elif value|get_item:"object_type" == "Race" %}
                <td style="cursor: pointer;" onclick="moveToRace({{ value|get_item:"year_id" }}, {{ value|get_item:"round" }})">{{ value|get_item:"std_name" }}</td>
            {% elif value|is_ordered_dict %}
                <td>{{ value.std_name }}</td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
{% comment %} how to pass it to scripts?? {% endcomment %}
<script src="{% static 'f1app/js/redirects.js' %}"></script>