{% extends 'base.html' %}

{% block style %}
    {% load static %}

    <link href="{% static 'f1app/css/race_opinion.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% load tags %}

    <h2 class='left'>Set rating of {{ race_name }}</h2>
    <form class="opinion-race" method="POST">{% csrf_token %}
        {% for field in fields %}
            <fieldset id="{{ field }}">
                <legend>Give your {{ field|pretty_name }}:</legend>
                {% for i in 10|get_range %}
                    {% if opinion|item:field == i %}
                        <input type="radio" class="radio-button-{{ i }}" name="{{ field }}" value="{{ i }}" checked="checked">
                        <label for="radio-button-{{ i }}">{{ i }}</label>
                    {% else %}
                        <input type="radio" class="radio-button-{{ i }}" name="{{ field }}" value="{{ i }}">
                        <label for="radio-button-{{ i }}">{{ i }}</label>
                    {% endif %}
                {% endfor %}
            </fieldset>
        {% endfor %}
        <input type="submit" name="previous" value="Previous" />
        <input type="submit" name="next" value="Next" />
    </form>
{% endblock %}