{% extends 'base.html' %}

{% block style %}
    {% load static %}    

    <link href="{% static 'f1app/css/table.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% load static %}
    {% load tags %}
    <div class="row">
        <h1 class="year-title">Formula 1 {{ year }} season</h1>
    </div>
    <div style="overflow: scroll;"> 
        <table class="table table-dark table-custom table-year-race">
        <tr>
            {% for x in object_list|column_names %}
                {% if x|is_meta_field is False %}
                    <td>{{ x|pretty_name }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% for x in object_list %}
            <tr onclick="moveToRace('{{x|get_item:"year_id"}}', {{x|get_item:"round"}})">
                {% for key, value in x.items %}
                    {% if key|is_meta_field %}
                    {% elif value|is_ordered_dict %}
                        <td>{{ value|get_item:"std_name" }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>

	<ul>
    {% for x in last_visited %}
        <li>{{ x }}</li>
    {% endfor %}
	</ul>

    <script src="{% static 'f1app/js/redirects.js' %}"></script>
{% endblock %}